<div class="animated-lines {{ linesType }}" data-animation-type="{{ linesType }}">
    <div class="line-1"></div>
    <div class="line-2"></div>
    {% if text != '' %}
    <div class="line-text">
        {{ text }}
    </div>
    {% endif %}
</div>