<div class="header-lines">
    {% for line in block.header %}
        {{ line.line1 }}<br>
        {{ line.line2 }}<br>
        {{ line.line3 }}<br>
        {{ line.line4 }}<br>
    {% endfor %}
</div>