<div class="pl-images--images">
    <div class="pl-images--landscape-image">
        <img src="{{ block.landscapeImage.first.url }}" alt="">
    </div>
    <div class="pl-images--portrait-image-wrapper" data-enllax-ratio="0.1">
        <div class="pl-images--portrait-image">
            <img src="{{ block.portraitImage.first.url }}" alt="">
        </div>
        <div class="pl-images--text2">
            {{ block.smallTextBlock }}
        </div>
    </div>
</div>