.pl-images--images{
    position:relative;
    width:100%;
    margin-bottom:155px;
    text-align:right;

    @media all and (max-width:$medium-breakpoint){
        margin-bottom:0;
    }
}
.pl-images--landscape-image{
    display:inline-block;
    width:$text1-images-width;

    @media all and (max-width:$medium-breakpoint){
        width:100%;
        margin-bottom:20px;
    }

    img{
        width:100%;
    }
}
.pl-images--portrait-image-wrapper{
    position:absolute;
    bottom:-38%;
    left:0;
    width:100%;

    @media all and (max-width:$medium-breakpoint){
        position:static;
    }
}
.pl-images--portrait-image{
    float:left;
    width:35%;

    @media all and (max-width:$medium-breakpoint){
        float:none;
        width:100%;
    }

    img{
        width:100%;
    }
}
.pl-images--text2{
    position:absolute;
    bottom:0;
    left:39%;
    width:27%;
    text-align:left;

    @media all and (max-width:$medium-breakpoint){
        position:static;
        width:100%;

        P{
            margin-bottom:0;
        }
    }
}