.text-button--wrapper{
    h1{
        margin:0 0 45px;
    }
}
.text-button--wrapper{
    padding-bottom:rem(95);
    overflow:hidden;
}
.text-button--text{
    float:left;
    width:$video-text-width;

    @media all and (max-width:$medium-breakpoint){
        float:none;
        width:100%;
    }
}
.text-button--button{
    float:right;
    padding-top:83px;

    @media all and (max-width:$medium-breakpoint){
        float:none;
        padding-top:73px;
    }
}